/.ccsproject
/.cproject
/.project
/.settings
/.vscode
/CLAmath.h
/DCL_PI_C4.asm
/DCL_PI_L2.asm
/device
/f2837xd_flash_cpu1_lnk.cmd
/FLASH
/graph1.graphProp
/graph2.graphProp
/Kit.json
/libraries
/main.syscfg
/setupdebugenv_build1.js
/setupdebugenv_build2.js
/setupdebugenv_build3.js
/setupdebugenv_build4.js
/setupdebugenv_demo.js
/SFRAData
/sfra_gui_scicomms_driverlib.c
/sfra_gui_scicomms_driverlib.h
/targetConfigs